/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: "Whitney", sans-serif;
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Butttons */
.btn-text {
    font-weight: bold;
}

.btn-white {
    background-color: white;
    color: black;
    border-radius: 50px;
}

.btn-black {
    background-color: #23272a;
    color: white;
    border-radius: 50px;
}

.btn-small {
    padding: 0.7em;
}

/* HEADER */
/* nav */
nav {
    background-color: #3161e0;
    width: 100%;
    height: 5em;
}

.container {
    background-color: red;
    width: 70%;
    margin: auto;
}

.col.sx {
    width: 20%;
}

.col-sx img {
    width: 8em;
}

.col-mid {
    width: 70%;
    text-align: center;
}

.col-mid ul li {
    display: inline-block;
    color: white;
    font-weight: bold;
    margin: 1em;
}

.col-dx {
    width: 10%;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* jumbotron */
.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 80hv;
}