/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: "Whitney", sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 70%;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Butttons */
.btn-white {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 50px;
}

.btn-black {
    background-color: #23272a;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.btn-small {
    padding: 0.7em;
}

.btn-large {
    padding: 1em 1.5em;
}

/* Iddentazioni */
.title-w {
    color: white;
    font-size: 3.5em;
    margin-bottom: 0.8em;
}

.text-w {
    color: white;
    font-size: 1.3em;
}

.title {
    color: black;
    font-size: 3.5em;
    margin-bottom: 0.8em;
}

.text {
    color: black;
    font-size: 1.3em;
}

/* Positioning */
.sez {
    padding: 5em;
}

.col-img {
    width: 55%;
    margin: 5%;
}

.col-text {
    width: 35%;
    text-align: left;
}

/* NAV */
nav {
    background-color: #3161e0;
    width: 100%;
}

.nav {
    vertical-align: auto;
}

/* logo a sinistra */
.col.sx {
    width: 20%;
    line-height: 35px;
}

.col-sx img {
    width: auto;
    height: 35px;
}

/* lista centrale */
.col-mid {
    width: 70%;
    text-align: center;
    line-height: 35px;
}

.col-mid ul li {
    display: inline-block;
    color: white;
    font-weight: bold;
    margin: 1em;
}

/* accedi a destra */
.col-dx {
    width: 10%;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 35px;
}

/* HEADER */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* banner text */
.jumbo {
    padding: 10em 16em;
    text-align: center;
}

.btn-download {
    margin-top: 2em;
}

/* sezione 1 */

/* sezione 2 */
.bg-lg {
    background-color: lightgray;
}